@model IEnumerable<EShoppingApp.Models.EmployeeViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<div>
	@{
		@await Component.InvokeAsync("ShowCount", new
			{
				Domain = "Employee"
			}
				)

	}

</div>

<div>
	<h2>Employee Salary</h2>
	@{
		@await Component.InvokeAsync("CalculateSalary", new
			{
				id = "Employee"
			}
		)

	}

</div>
<p>
	<a asp-action="Create">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Surname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DOB)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EmployeeId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Position)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Department)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Salary)
			</th>
			<th>
				Calulated Salary
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Surname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DOB)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmployeeId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Position)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Department)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Salary)
				</td>
				<td>
					@await Component.InvokeAsync("CalculateSalary", new
						{
							empId = item.Id
						}
					)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
				</td>
			</tr>
		}
	</tbody>
</table>
